
.cardContainer{
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    & > *{
        margin: 1.5%;
    }

    &_title{
        font-size: xx-large;
        color: black;
        font-weight: 600;
    }

    &_place{
        display: flex;
        justify-content: flex-start;
        background: white;
        align-items: flex-start;

    }

    @media only screen and (max-width: 600px) {
        margin: 0 2%;;
        &_place{
            flex-direction: column;
        }
      }

}