

.backgroundImage{
    width: 80px;
    height: 80px    ;
    background: url('https://res.cloudinary.com/ddopxrt2a/image/upload/v1640345766/teleNode/Assets/Logo/Just_know_2_dhbgtx.png');
    background-size: cover;
}