
.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    height: 100px;
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 1s;
    z-index: 5;
    &_scrolled{
        background-color: black;
        .navlinks > * {
            color: white;
        }
    }
}

.applogo{
    margin-left: 10%;
}

.navlinks{
    display: flex;
    align-items: center;
    margin-right: 10%;
    &_hide{
        display: none;
    }
}
.fa{
    display: none !important;
}

.fa-times{
    color: white;
}

@media only screen and (max-width: 600px) {
    .navlinks{
        flex-direction: column;
        display: flex;
        align-items: flex-end;    
        margin: 0;
        width: inherit;
    }
    .applogo{
        display: none;
    }
    .navContainer{
        height: auto;
    }
    .fa{
        display: inline-block !important;
        position: absolute;
        top: 15px;
        left: 15px;
    }
  }

